extends layout

block scripts
  script(type="text/javascript")
    var monday = #{date};
    var events = JSON.parse(decodeURIComponent("!{encodeURIComponent(JSON.stringify(events))}"));
  <script type="text/javascript" src="javascripts/bootstrap-alerts.js"></script>
  script(type="text/javascript", src="javascripts/bootstrap-twipsy.js")
  script(type="text/javascript", src="javascripts/bootstrap-popovers.js")
  script(type="text/javascript", src="javascripts/index.js")
  <script src="javascripts/week.js"></script>
  <script src="javascripts/bootstrap-modal.js"></script>

block styles
  <link rel="stylesheet" href="stylesheets/week.css">

block sidebar
  - escapeHtml("test");
  .sidebar
    .well
      h3 Important Events
        p Important events for this week will go here
        p And here
        p And here
        p You get the idea

block content
  .content
    center
      table(id="CalendarTable", class="bordered-table", style="width:100% !important")
        colgroup
          col.monday
          col.tuesday
          col.wednesday
          col.thursday
          col.friday
          col.weekend
          col.weekend
        tbody
          style(type="text/css")
            td{height:90px; width:150px}
          tr
            th Monday
            th Tuesday
            th Wednesday
            th Thursday
            th Friday
            th(colspan="2") 
              center Weekend
          for period in week
            tr
              each block, day in period
                - if(day == 5)
                    td.saturday(rowspan="6") Saturday
                - else if(day == 6)
                    td.sunday(rowspan="6") Sunday
                - else if (block == "activity")
                    td.activityblock(rowspan="2") Activities
                - else if (block)
                    td(class="#{block}block") #{block} Block
                if (events[day] && events[day][block])
                  each eventObj in events[day][block]
                    .label.success.event(class="#{eventObj.class}", eventId = eventObj._id, style="height:20", rel="popover", data-content="#{escapeHtml(eventObj.description)}", data-original-title="#{escapeHtml(eventObj.name)}")
                        #{eventObj.name}
                        input.eventCheck(type="checkbox")

    #eventCreatorModal.modal.hide.fade.
      <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>
          <input id="eventNameInput" class="xlarge" type="text" value="Event Name">
          <br />
          <small id="eventDate"><span class="eventBlock"></span> on <span class="eventDate"></span></small>
      </div>
      <div class="modal-body">
        <form>
          <table>
            <tr>
              <td class="noBorder" width="50%">
                <select name="normalSelect" id="blockSelect">
                </select>
                <br />
                <br />
                <textarea id="modalDescriptionBox">Description here</textarea>
              </td>
              <td class="noBorder">
                <p><input name="modalRadio1" checked="true" type="radio"> Homework</p>
                <p><input name="modalRadio1" type="radio"> Quiz</p>
                <p><input name="modalRadio1" type="radio"> Test</p>
                <p><input name="modalRadio1" type="radio"> Project</p>
                <p><input name="modalRadio1" type="radio"> Reminder</p>
              </td>
            </tr>
          </table>
        </form>
      </div>
      <div class="modal-footer">
        <input id="saveButton" type="submit" class="btn primary" value="Save">
        <input id="cancelButton" type="submit" class="btn secondary" value="Cancel">
      </div>
    </div>
    <!-- End Modal Content -->
