extends layout

block scripts
  script(type="text/javascript")
    var monday = #{date.getTime()};
    var blocks = JSON.parse(decodeURIComponent("#{encodeURIComponent(JSON.stringify(blocks))}"));
    var events = JSON.parse(decodeURIComponent("#{encodeURIComponent(JSON.stringify(events))}"));
  <script type="text/javascript" src="javascripts/bootstrap-alerts.js"></script>
  <script src="javascripts/week.js"></script>
  <script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.js"></script>
  <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>
  <script src="/javascripts/jquery.ui.datepicker.js"></script>
  script(type="text/javascript", src="/javascripts/index.js")
  <script src="/javascripts/week.js"></script>
  script(type="text/javascript")
    $(function() {
      var startDate;
      var endDate;
      
      var selectCurrentWeek = function() {
        window.setTimeout(function () {
          $('.week-picker').find('.ui-datepicker-current-day a').addClass('ui-state-active')
        }, 1);
      }
      
      $('.week-picker').datepicker( {
        showOtherMonths: true,
        selectOtherMonths: true,
        onSelect: function(dateText, inst) { 
          var date = $(this).datepicker('getDate');
          startDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay());
          endDate = new Date(date.getFullYear(), date.getMonth(), date.getDate() - date.getDay() + 6);
          var dateFormat = inst.settings.dateFormat || $.datepicker._defaults.dateFormat;
          $('#startDate').text($.datepicker.formatDate( dateFormat, startDate, inst.settings ));
          $('#endDate').text($.datepicker.formatDate( dateFormat, endDate, inst.settings ));

          selectCurrentWeek();
          },
          beforeShowDay: function(date) {
            var cssClass = '';
            if(date >= startDate && date <= endDate)
              cssClass = 'ui-datepicker-current-day';
            return [true, cssClass];
          },
          onChangeMonthYear: function(year, month, inst) {
          selectCurrentWeek();
        }
      });
      
        $('.week-picker .ui-datepicker-calendar tr').live('mousemove', function() { $(this).find('td a').addClass('ui-state-hover'); });
        $('.week-picker .ui-datepicker-calendar tr').live('mouseleave', function() { $(this).find('td a').removeClass('ui-state-hover'); });
      });
        function diffWeek(date){
          var date1 = new Date("January 1, 2012");
          var date2 = new Date(date);
          return math.floor((date2-date1)/(1000*60*60*24*7).toFixed(2));
        }
block styles
  link(rel="stylesheet", href="/stylesheets/week.css")


block sidebar
  .sidebar
    h3
    br
    br
    br
    br

    .week-picker
    a.btn(href="/weekly/#{offset - 1}")
      i.icon-arrow-left
    a.btn(href="/weekly/#{offset + 1}", style="margin-left: 5px")
  a.btn.arrow-left(href="/weekly/#{offset - 1}")
    i.icon-arrow-left
  a.btn.arrow-right(href="/weekly/#{offset + 1}", style="margin-left: 5px")
    i.icon-arrow-right
    .arrows
      a.btn(href="/weekly/#{offset - 1}")
        i.icon-arrow-left
      a.btn(href="/weekly/#{offset + 1}", style="margin-left: 5px")
        i.icon-arrow-right
    br
    #datepicker
    script(type="text/javascript")

block content
  .content
    center
      table(id="singleDay", class="table table-bordered", 
style="width:100% !important")
        thead
          td.head
            center 12/25
          tbody
           tr.block1
              td Block 1
           tr.block
              td Block 2
           tr.block1
              td Block 3
           tr.block
              td Block 4
           tr.block1 
              td Block 5
           tr.block 
              td Block 6

    center
      table(id="CalendarTable", class="table table-bordered", style="width:100% !important")
        colgroup
          col.monday
          col.tuesday
          col.wednesday
          col.thursday
          col.friday
          col.weekend
          col.weekend
        tbody
          tr
            th.block Monday #{date.getMonth() + 1}/#{date.getDate()}
            - date = addDay(date);
            th.block Tuesday #{date.getMonth() + 1}/#{date.getDate()}
            - date = addDay(date);
            th.block Wednesday #{date.getMonth() + 1}/#{date.getDate()}
            - date = addDay(date);
            th.block Thursday #{date.getMonth() + 1}/#{date.getDate()}
            - date = addDay(date);
            th.block Friday #{date.getMonth() + 1}/#{date.getDate()}
            - date = addDay(date);
            th.weekend.block(colspan="2") 
              | Weekend #{date.getMonth() + 1}/#{date.getDate()}
              - date = addDay(date)
              | - #{date.getMonth() + 1}/#{date.getDate()}
          for period in week
            tr
              each block, day in period
                - var rowspan = "1"
                - if(day == 5 || day == 6 || block == "No School")
                  - rowspan = "6"
                - else if(block == "Activities")
                  - rowspan = "2"
                - var className = "";
                - if(blocks[block])
                  - className = blocks[block];
                - else
                  - className = block;
                td(class="#{block} block", rowspan="#{rowspan}") #{className}
                  if (events[day] && events[day][block])
                    each eventObj in events[day][block]
                      - var done = (eventObj.done) ? "done" : "";
                      .label.success.event(class="#{eventObj.class} #{done}", eventId = eventObj._id, style="height: 20px", rel="popover", data-content="#{escapeHtml(eventObj.description)}", data-original-title="#{escapeHtml(eventObj.name)}")
                          #{escapeHtml(eventObj.name)}
                          if eventObj.done
                            input.eventCheck(type="checkbox", checked="checked")
                          else
                            input.eventCheck(type="checkbox")
    #eventCreatorModal.modal.hide.fade.
      <div class="modal-header">
        <a data-dismiss="modal" class="close">&times;</a>
        <h3>
          <input id="eventNameInput" class="xlarge" type="text" value="Event Name">
          <br />
          <small id="eventDate"><span class="eventBlock"></span> on <span class="eventDate"></span></small>
      </div>
      <div class="modal-body">
        <form>
          <div style="width:55%;float:left;">
            <select name="normalSelect" id="blockSelect">
            </select>
            <br />
            <br />
            <textarea id="modalDescriptionBox">Description here</textarea>
          </div>
          <div>
            <p><input name="modalRadio1" checked="true" type="radio"> Homework</p>
            <p><input name="modalRadio1" type="radio"> Quiz</p>
            <p><input name="modalRadio1" type="radio"> Test</p>
            <p><input name="modalRadio1" type="radio"> Project</p>
            <p><input name="modalRadio1" type="radio"> Reminder</p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
<<<<<<< HEAD
        <a id="deleteButton" class="btn btn-danger">
          <i class="icon-trash icon-white"></i>
=======
        <a id="deleteButton" style="float:left;" class="btn btn-danger">
          <i class="icon-trash"></i>
>>>>>>> 3166c4cd8b4d0f2d39508b46432a5d40e79c5cbb
          Delete
        </a>
        <a id="saveButton" class="btn btn-primary">
          <i class="icon-ok icon-white"></i>
          Save
        </a>
        <a id="cancelButton" class="btn btn-secondary">
          <i class="icon-remove icon-black"></i>
          Cancel
        </a>
      </div>
    </div>
    <!-- End Modal Content -->
