extends layout

block scripts
  script(type="text/javascript")
    var monday = #{date};
    var events = JSON.parse(decodeURIComponent("!{encodeURIComponent(JSON.stringify(events))}"));
  <script type="text/javascript" src="javascripts/bootstrap-alerts.js"></script>
  <script src="javascripts/week.js"></script>
  <script src="http://twitter.github.com/bootstrap/1.4.0/bootstrap-modal.js"></script>

block styles
  <link rel="stylesheet" href="stylesheets/week.css">

block sidebar
  .sidebar
    .well
      h3 Important Events
        p Important events for this week will go here
        p And here
        p And here
        p You get the idea

block content
  .content
    center
      table(id="CalendarTable", class="bordered-table", style="width:100% !important")
        tbody
          style(type="text/css")
            td{height:90px; width:150px}
          tr
            th Monday
            th Tuesday
            th Wednesday
            th Thursday
            th Friday
          each period in week
            tr
            each block, day in period
              td(class="#{block}block") #{block} Block
                if (events[day] && events[day][block])
                  each eventObj in events[day][block]
                    .alert-message.info(eventId = eventObj._id, style="height:30")
                      h4
                        #{eventObj.name}
    #eventCreatorModal.modal.hide.fade.
      <div class="modal-header">
        <a href="#" class="close">&times;</a>
        <h3>
          <input id="eventNameInput" class="xlarge" type="text" value="Event Name">
          <br />
          <small id="eventDate"><span class="eventBlock"></span> on <span class="eventDate"></span></small>
      </div>
      <div class="modal-body">
        <form>
          <table>
            <tr>
              <td class="noBorder" width="50%">
                <select name="normalSelect" id="blockSelect">
                </select>
                <br />
                <br />
                <textarea id="modalDescriptionBox">Description here</textarea>
              </td>
              <td class="noBorder">
                <p><input name="modalRadio1" type="radio"> Options</p>
                <p><input name="modalRadio1" type="radio"> and</p>
                <p><input name="modalRadio1" type="radio"> Stuff</p>
              </td>
            </tr>
          </table>
        </form>
      </div>
      <div class="modal-footer">
        <input id="saveButton" type="submit" class="btn primary" value="Save">
        <input id="cancelButton" type="submit" class="btn secondary" value="Cancel">
      </div>
    </div>
    <!-- End Modal Content -->
