extends noSidebarLayout

block styles
  link(rel="stylesheet", href="stylesheets/index.css")

block scripts
  script(type="text/javascript", src="javascripts/sha.js")
  script(type="text/javascript", src="javascripts/index.js")
  if (flash.error)
    script(type="text/javascript")
      $(document).ready(function(){
        $("#{flash.errorContainer}").modal({
          keyboard: true,
          backdrop: true,
          show: true
        });
      });

block content
  .container.content
  #firstContent.row.offset
      img#bgImage(src='images/photo.jpg')
      .span5.white
        h3 Welcome to the Hopkins Online Planner
        p
          | Organize all your work in one place online, so you never miss a thing.
      .span3.offset2(style='')
        .well.sideBox
          .row-fluid
            //
              form.form#loginForm(action='/login', method='post', onsubmit="return login(0)")
                input.span12.email_input(type='text', name='email', placeholder='Email')
                br
                input.span8.password_input(type='password', name='password', placeholder='Password')
                input#login_btn.btn.btn-primary.span4(type='submit', value='Login')
            a.btn.btn-primary(href="https://www.google.com/accounts/o8/ud?openid.ns=http://specs.openid.net/auth/2.0&openid.return_to=#{loginCallback}&openid.mode=checkid_setup&openid.claimed_id=http://specs.openid.net/auth/2.0/identifier_select&openid.identity=http://specs.openid.net/auth/2.0/identifier_select&openid.ns.ax=http://openid.net/srv/ax/1.0&openid.ax.mode=fetch_request&openid.ax.type.email=http://axschema.org/contact/email&openid.ax.type.firstname=http://axschema.org/namePerson/first&openid.ax.type.lastname=http://axschema.org/namePerson/last&openid.ax.required=email,firstname,lastname&openid.realm=#{realm}") Login with your Hopkins Account
          h3  Don't have an account yet?
          a#signUp_btn.btn.btn-success(href='https://www.google.com/accounts/o8/ud?openid.ns=http://specs.openid.net/auth/2.0&openid.return_to=#{signupCallback}&openid.mode=checkid_setup&openid.claimed_id=http://specs.openid.net/auth/2.0/identifier_select&openid.identity=http://specs.openid.net/auth/2.0/identifier_select&openid.ns.ax=http://openid.net/srv/ax/1.0&openid.ax.mode=fetch_request&openid.ax.type.email=http://axschema.org/contact/email&openid.ax.type.firstname=http://axschema.org/namePerson/first&openid.ax.type.lastname=http://axschema.org/namePerson/last&openid.ax.required=email,firstname,lastname&openid.realm=#{realm}', type='submit') Sign Up with your Hopkins Account
          a#learnmore.btn.btn-primary(style="margin-top: 10px", href='#more', data-toggle="modal", data-target="#learnMore_modal", type='button', value='Learn More') Learn More
  // Page 2
  #learnMore_modal.modal.hide.fade.in.page-one(role="dialog")
    .modal-header
      a.close(data-dismiss="modal") &times;
      h3 How it Works
    .modal-body
      .media
        a.pull-left(href="#")
          <div style="height:30px"></div>
          img.media-object.img-rounded(src='images/photo2.jpg', width="128px", height="128px")
        .media-body(style='')
          h4.media-heading(style='color: #800000;') What it is
          p
            | The online planner brings you an easy way of regulating your events and keeping track of work. It sends
            | you email reminders about tests, projects, and other homework. Furthermore, it can send you the agenda for
            | the next day, every night of the week. The planner is completely customizable and is designed with only
            | you in mind.
      #secondParagraph
        .media
          a.pull-right(href="#")
            <div style="height:30px"></div>
            img.img-rounded.media-object(src='images/photo3.jpg', width="128px", height="128px")
          .media-body
          h4.media-heading(style='color: #800000;') How to use it
          p
            | The Hopkins planner is a simple, yet tremendously convenient tool. Upon creating your account, you will be
            | prompted with your classes in order to organize your weeks. From then on, you will be able to create 'events'
            | that will remind you of tests, projects, and homework. Teacher accounts are also available, so everyone is
            | encouraged to sign up!
    .modal-footer
       button.btn.btn-large.btn-success(data-dismiss="modal", aria-hidden="true") Got it. Thanks!


  #accountModal.modal.small.hide.fade.in
    .modal-header
      a.close(data-dismiss="modal") &times;
      h3 Create Account
    .modal-body
      form.form-stacked(action="/signup", method="POST", onsubmit="return login(1)")
        .clearfix
          label(for="email") Email:
          input.createEmail_input(type="text", name="email")
        .clearfix
          label(for="password") Password:
          input.createPassword_input(type="password", name="password")
        .clearfix
          label(for="name") Name:
          input(name="name", type="text")
        center
          input#createAccount_btn.btn-success.btn(type="submit", value="Create")
