extends layout

block scripts
  script(type="text/javascript")
    var monday = #{date.getTime()};
    var blocks = JSON.parse(decodeURIComponent("#{encodeURIComponent(JSON.stringify(blocks))}"));
    var events = JSON.parse(decodeURIComponent("#{encodeURIComponent(JSON.stringify(events))}"));
  script(type="text/javascript", src="/javascripts/bootstrap-datepicker.js")
  script(type="text/javascript", src="/javascripts/index.js")
  <script src="/javascripts/week.js"></script>
block styles
  link(rel="stylesheet", href="/stylesheets/datepicker.css")
  <link rel="stylesheet" href="/stylesheets/week.css">


block sidebar
  a.btn.arrow-left(href="/weekly/#{offset - 1}")
    i.icon-arrow-left
  a.btn.arrow-right(href="/weekly/#{offset + 1}", style="margin-left: 5px")
    i.icon-arrow-right

  #datepicker.date

block content
  .content
    center
      table(id="singleDay", class="table table-bordered", style="width:100% !important")
        thead
          td.head
            center 12/25
          tbody
           tr.block1
              td Block 1
           tr.block
              td Block 2
           tr.block1
              td Block 3
           tr.block
              td Block 4
           tr.block1 
              td Block 5
           tr.block 
              td Block 6

    center
      table(id="CalendarTable", class="table table-bordered", style="width:100% !important")
        colgroup
          col.monday
          col.tuesday
          col.wednesday
          col.thursday
          col.friday
          col.weekend
          col.weekend
        tbody
          tr
            th.block Monday #{date.getMonth() + 1}/#{date.getDate()}
            - date = addDay(date);
            th.block Tuesday #{date.getMonth() + 1}/#{date.getDate()}
            - date = addDay(date);
            th.block Wednesday #{date.getMonth() + 1}/#{date.getDate()}
            - date = addDay(date);
            th.block Thursday #{date.getMonth() + 1}/#{date.getDate()}
            - date = addDay(date);
            th.block Friday #{date.getMonth() + 1}/#{date.getDate()}
            - date = addDay(date);
            th.weekend.block(colspan="2") 
              | Weekend #{date.getMonth() + 1}/#{date.getDate()}
              - date = addDay(date)
              | - #{date.getMonth() + 1}/#{date.getDate()}
          for period in week
            tr
              each block, day in period
                - var rowspan = "1"
                - if(day == 5 || day == 6 || block == "No School")
                  - rowspan = "6"
                - else if(block == "Activities")
                  - rowspan = "2"
                - var className = "";
                - if(blocks[block])
                  - className = blocks[block];
                - else
                  - className = block;
                if (day == 2 && block == "H"){
                  td(class="", style="display:none")
                }
                td(class="#{block} block", rowspan="#{rowspan}") #{className}
                  if (events[day] && events[day][block])
                    each eventObj in events[day][block]
                      - var done = (eventObj.done) ? "done" : "";
                      .label.success.event(class="#{eventObj.class} #{done}", eventId = eventObj._id, style="height: 20px", rel="popover", data-content="#{escapeHtml(eventObj.description)}", data-original-title="#{escapeHtml(eventObj.name)}")
                        .eventText #{escapeHtml(eventObj.name)}
                        if eventObj.done
                          input.eventCheck(type="checkbox", checked="checked")
                        else
                          input.eventCheck(type="checkbox")
    #eventCreatorModal.modal.hide.fade.in.
      <div class="modal-header">
        <a data-dismiss="modal" class="close">&times;</a>
        <h3>
          <input id="eventNameInput" class="xlarge" type="text" value="Event Name">
          <br />
          <small id="eventDate"><span class="eventBlock"></span> on <span class="eventDate"></span></small>
      </div>
      <div class="modal-body">
        <form>
          <div style="width:55%;float:left;height:130px;">
            <select name="normalSelect" id="blockSelect">
            </select>
            <br />
            <br />
            <textarea id="modalDescriptionBox">Description here</textarea>
          </div>
          <div>
            <p><input name="modalRadio1" checked="true" type="radio"> Homework</p>
            <p><input name="modalRadio1" type="radio"> Quiz</p>
            <p><input name="modalRadio1" type="radio"> Test</p>
            <p><input name="modalRadio1" type="radio"> Project</p>
            <p><input name="modalRadio1" type="radio"> Reminder</p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a id="deleteButton" style="float:left;" class="btn btn-danger">
          <i class="icon-trash"></i>
          Delete
        </a>
        <a id="saveButton" class="btn btn-primary">
          <i class="icon-ok icon-white"></i>
          Save
        </a>
        <a id="cancelButton" class="btn btn-secondary">
          <i class="icon-remove icon-black"></i>
          Cancel
        </a>
      </div>
    </div>
    <!-- End Modal Content -->
